.menu-block > * {
  background: var(--brand-blue);
  padding: 0.5rem 1rem;
  margin-left: 0.25rem;
  box-shadow: #111 5px 3px 5px;
}
.menu a {
  color: #111;
  border-bottom: 1px solid var(--brand-blue);
}
