
.message {
  position: absolute;
  color: #fff;
  padding: 0.75rem 0;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 1rem;
  opacity: 0;
  z-index: -1;
}
.message-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-body > span {
  margin: 0 5px;
}
.message.show {
  z-index: 10;
  animation: slide-in-bottom 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both,
    fade-out 300ms ease-out 3.5s both;
}
.message.error {
  background: orangered;
}
.message.success {
  background: #35db67;
}
.message mark {
  color: #111;
  background: #fefefe;
  padding: 0 10px;
  margin-left: 5px;
  font-weight: bold;
  flex: 0;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
